<h1>List of Items</h1>

<form #itemForm="ngForm" (ngSubmit)="addItems(itemForm.value.newID, itemForm.value.newProduct, 
itemForm.value.newPrice, itemForm.value.newQuantity)">
    <label for="">ID</label>
    <input type="text" ngModel name="newID">
    <label for="">Product</label>
    <input type="text" ngModel name="newProduct">
    <label for="">Price</label>
    <input type="text" ngModel name="newPrice">
    <label for="">Quantity</label>
    <input type="text" ngModel name="newQuantity">
    <button>Add Item</button>
</form>

<div *ngFor="let item of cartItems">
  <p>ID: {{ item.id }}</p>
  <p>Product: {{ item.product }}</p>
  <p>Price: {{ item.price }}</p>
  <p>Quantity: {{ item.quantity }}</p>
  <button (click)="deleteItem(item.id)">X</button>
</div>

